
@{
    ViewBag.Title = "MainShop";
}

<h2>MainShop</h2>

<h2>Parduotuvių valdymo pultas</h2>

<table class="table">
    <tr>
        <th>@Html.ActionLink("Parduotuvių valdymas", "Index", "Parduotuves")</th>
        <th>@Html.ActionLink("Prekių valdymas", "Index", "Autodalis")</th>

    </tr>

</table>